<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Send Email</title>
</head>
<body>
<div>
    <h3 th:text="${headerText}">${headerText}</h3>
    <form method="POST" modelAttribute="mailObject" th:action="@{/mail/send}" th:object="${mailObject}">
        <fieldset>
            <div style="float:left;">
                <table cellspacing="0" width="300">
                    <tr>
                        <th><label for="input_to">To</label></th>
                        <td><input id="input_to" path="to" size="50" type="email"/>
                            <small>Enter email address</small>
                            <br/>
                            <errors cssStyle="color:red;font-size:small" path="to"/>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="input_subject">Subject</label></th>
                        <td><input id="input_subject" path="subject" size="50"/>
                            <small>Enter the subject</small>
                            <br/>
                            <errors cssStyle="color:red;font-size:small" path="subject"/>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="input_text" th:text="${messageLabel}">Message Label:</label></th>
                        <td><textarea cols="50"
                                      id="input_text" path="text"
                                      rows="5"/>
                            <errors cssStyle="color:red;font-size:small" path="text"/>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" value="Send"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="float:left; word-wrap: break-word; margin-left: 50px; width: 400px; color: grey"
                 th:text="${additionalInfo}">

            </div>
        </fieldset>
    </form>
</div>
</body>
</html>